<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/animate.min.css" rel="stylesheet" />
        <link href="~/Content/custom.css" rel="stylesheet" />
        <link href="~/Content/icheck/flat/green.css" rel="stylesheet" />
        <link href="~/Content/intlTelInput.css" rel="stylesheet" />*@

        @*<script src="~/Content/js/jquery.min.js"></script>
            <script src="~/Content/js/intlTelInput.js"></script>
            <script src="~/Scripts/yalgaar.js"></script>*@

    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                @*<div class="col-md-12">*@
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="/Home/Index" class="site_title"><i class="fa fa-paw"></i> <span>GNM</span></a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- menu prile quick info -->
                        @*<div class="profile">
                                <div class="profile_pic">
                                    <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h2>John Doe</h2>
                                </div>
                            </div>*@
                        <!-- /menu prile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="/Gateway/Index"><i class="fa fa-home"></i> Gateway</a>
                                    </li>
                                    <li>
                                        <a href="/Node/Index"><i class="fa fa-home"></i> Node</a>
                                    </li>
                                    <li>
                                        <a href="/NodeState/Index"><i class="fa fa-home"></i>Change Node State</a>
                                    </li>
                                    <li>
                                        <a href="/NodeState/NodeHistory"><i class="fa fa-home"></i>Node State History</a>
                                    </li>
                                    @*<li>
                                            <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="display: none">
                                                <li>
                                                    <a href="form.html">General Form</a>
                                                </li>
                                                <li>
                                                    <a href="form_advanced.html">Advanced Components</a>
                                                </li>
                                                <li>
                                                    <a href="form_validation.html">Form Validation</a>
                                                </li>
                                                <li>
                                                    <a href="form_wizards.html">Form Wizard</a>
                                                </li>
                                                <li>
                                                    <a href="form_upload.html">Form Upload</a>
                                                </li>
                                                <li>
                                                    <a href="form_buttons.html">Form Buttons</a>
                                                </li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- top navigation -->

                <div class="top_nav">
                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle" style="cursor:pointer;"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/Home/Logout"> Log Out</a>
                                </li>

                                @*<li>
                                        <a href="/Home/ChangePassword">Change Password</a>
                                    </li>*@
                                <li>
                                    <a href="/User/UserProfile">My Profile</a>
                                </li>

                                <li>
                                    <a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span style="font-family:Arial;font-size:15px;font-weight:600;"> Welcome, @if (Session["UserName"] != null)
                                        {@Session["UserName"].ToString()}</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                </div>
            </div>
            <!-- /top navigation -->
        </div>

        @Scripts.Render("~/bundles/AdminJS")
        @Scripts.Render("~/bundles/ValidationJS")
        @RenderSection("scripts", required: false)
    </body>
</html>
@*<script src="~/Content/js/bootstrap.min.js"></script>

    <!-- bootstrap progress js -->
    <script type="text/javascript" src="~/Content/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script type="text/javascript" src="~/Content/js/icheck/icheck.min.js"></script>


    <script type="text/javascript" src="~/Content/js/moment/moment.min.js"></script>
    <script src="~/Content/js/datepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/js/custom.js"></script>

    <!-- Datatables -->
    <script src="~/Content/js/datatables/js/jquery.dataTables.js"></script>*@
@*<script src="~/Content/js/datatables/tools/js/dataTables.tableTools.js"></script>*@
