@model IList<GNM.Models.Gateway>
@{
    ViewBag.Title = "Gateway";
}
<div class="right_col" role="main">
    <div>
        <div class="x_panel">
            <div class="x_title">
                <div class="page-title">
                    <div class="title_left">
                        <h3>
                            Gateway Master
                        </h3>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            @using (Html.BeginForm())
            {
                if (TempData["Gateway"] != null)
                {
                    var msg = TempData["Gateway"].ToString();
                    switch (msg)
                    {
                        case "Deleted":
                            @*<script type="text/javascript">
                                    $(function () {
                                        ConnectYalgaar("Gateway Changed");
                                    });
                                </script>*@
                            <div class="row" align="center">
                                <span style="color:green">Gateway Deleted Successfully</span>
                            </div>
                            break;
                        case "Updated":
                                <div class="row" align="center">
                                <span style="color:green">Gateway Updated Successfully</span>
                                </div>
                                break;
                        case "Inserted":
                                <div class="row" align="center">
                                <span style="color:green">Gateway Inserted Successfully</span>
                                </div>
                                break;
                        default:
                                <div class="row" align="center">
                                <span style="color:red">@msg</span>
                                </div>
                                break;
                    }
                    TempData["Gateway"] = null;
                }
                <div class="row alignright">
                    <div class="form-group">
                        @Html.ActionLink("Add Gateway", "AddEditGateway", "Gateway", new { @class = "btn btn-success submit" })
                        @*<a href="javascript:void(0);" class="anchorDetail" >Details</a>*@ 
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="x_content">
                        <table id="gatewaytbl" border="1" class="table table-striped responsive-utilities jambo_table" width="100%">
                            <thead>
                                <tr class="headings">
                                    <th style="text-align: center;" class="">Gateway Name</th>
                                    <th style="text-align: center;" class="no-link last"><span class="nobr">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    for (var i = 0; i < Model.Count; i++)
                                    {
                                        if (i % 2 == 0)
                                        {
                                            <tr class="even pointer">
                                                <td align="center">@Model[i].GatewayName</td>
                                                <td align="center" class="last">
                                                    @Html.ActionLink("EDIT", "AddEditGateway", new { id = @Model[i].GatewayId }, new { @class = "fa fa-pencil btn btn-info btn-xs" })
                                                    @Html.ActionLink("Delete", "Delete", new { id = @Model[i].GatewayId }, new { @class = "fa fa-trash-o btn btn-danger btn-xs" })
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr class="odd pointer">
                                                <td align="center">@Model[i].GatewayName</td>
                                                <td align="center" class="last">
                                                    @Html.ActionLink("EDIT", "AddEditGateway", new { id = @Model[i].GatewayId }, new { @class = "fa fa-pencil btn btn-info btn-xs" })
                                                    @Html.ActionLink("Delete", "Delete", new { id = @Model[i].GatewayId }, new { @class = "fa fa-trash-o btn btn-danger btn-xs" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>*@   
@section scripts {
    <script type="text/javascript">
        var asInitVals = new Array();
        $(document).ready(function () {
            //DataTable
            var oTable = $('#gatewaytbl').dataTable({
                "oLanguage": {
                    "sSearch": "Search all columns:"
                },
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [1]
                    } //disables sorting for column one
                ],
                'iDisplayLength': 10,
                "sPaginationType": "full_numbers",
            });
        });
    </script>

   @*Pop-Up*@
@*<script>
    var TeamDetailPostBackURL = '/Gateway/Details';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
          //  var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
               // data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

</script>*@
  
}
