@*@model IList<GNM.Models.Node>*@
@model IList<GNM.Models.Gateway>
@{
    //Layout = null;
    ViewBag.Title = "Node";
}
<div class="right_col" role="main">
    <div class="x_panel">
        <div class="x_title">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        Node Master
                    </h3>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        @using (Html.BeginForm())
        {
            if (TempData["Node"] != null)
            {
                var msg = TempData["Node"].ToString();
                switch (msg)
                {
                    case "Deleted":
                        <div class="row" align="center">
                            <span style="color:green">Node Deleted Successfully</span>
                        </div>
                        break;
                    case "Updated":
                        <div class="row" align="center">
                            <span style="color:green">Node Updated Successfully</span>
                        </div>
                        break;
                    case "Inserted":
                        <div class="row" align="center">
                             <span style="color:green">Node Inserted Successfully</span>
                        </div>
                        break;
                    default:              
                        <div class="row" align="center">
                            <span style="color:red">@msg</span>
                        </div>
                        break;
                }
                TempData["Node"] = null;
            }
            <div class="row alignright">
                <div class="form-group">
                    @Html.ActionLink("Add Node", "AddEdit", "Node", new { @class = "btn btn-success submit", @style = "align:right;" })
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <table id="nodetbl" border="1" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr class="headings">
                            <th style="text-align:center;">Node Name</th>
                            <th style="text-align:center;">Gateway Name</th>
                            <th style="text-align:center;" class=" no-link last">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            for (var i = 0; i < Model.Count; i++)
                            {
                                for (var j = 0; j < Model[i].NodeData.Count; j++)
                                {
                                    if (i % 2 == 0)
                                    {
                                        <tr class="even pointer">
                                            <td style="text-align:center;">@Model[i].NodeData[j].NodeName</td>
                                            <td style="text-align:center;">@Model[i].GatewayName</td>
                                            <td style="text-align:center;" class=" last">
                                                @Html.ActionLink("EDIT", "AddEdit", new { id = @Model[i].NodeData[j].NodeId }, new { @class = "fa fa-pencil btn btn-info btn-xs" })

                                                @Html.ActionLink("Delete", "Delete", new { id = @Model[i].NodeData[j].NodeId }, new { @class = "fa fa-trash-o btn btn-danger btn-xs" })
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="odd pointer">
                                            <td style="text-align:center;">@Model[i].NodeData[j].NodeName</td>
                                            <td style="text-align:center;">@Model[i].GatewayName</td>
                                            <td style="text-align:center;" class=" last">
                                                @Html.ActionLink("EDIT", "AddEdit", new { id = @Model[i].NodeData[j].NodeId }, new { @class = "fa fa-pencil btn btn-info btn-xs" })

                                                @Html.ActionLink("Delete", "Delete", new { id = @Model[i].NodeData[j].NodeId }, new { @class = "fa fa-trash-o btn btn-danger btn-xs" })
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var asInitVals = new Array();
        $(document).ready(function () {
            var oTable = $('#nodetbl').dataTable({
                "oLanguage": {
                    "sSearch": "Search all columns:"
                },
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [2]
                    } //disables sorting for column one
                ],
                'iDisplayLength': 10,
                "sPaginationType": "full_numbers",
                //"dom": 'T<"clear">lfrtip',
            });
        });
    </script>
}